psutil
Pillow<10
tqdm
git+https://github.com/rathaumons/torchpack.git
mmdet==2.20.0
nuscenes-devkit==1.1.11
numba
yapf==0.40.1
mpi4py
future
tensorboard
cumm-cu113
spconv-cu113
numpy==1.26.4
opencv-python<4.12
